{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="demo-page">
        <main class="demo-page-content">  
          <section>
            <h1 style="text-align: center; font-weight: 500;">Create Known Diff</h1>

        <form action="{% url 'create_known_diff' %}" method="post" class="login-form">
            <!-- {{known_diff_form.as_p}} -->
            {% csrf_token %}
            
            <!-- diff_data
            diff_image
            raised_by
            assigned_to
            approved_by -->
            <div class="nice-form-group">
                <label>Diff Name</label>
                <input value="{% if known_diff_form.diff_name.value %}{{known_diff_form.diff_name.value}}{% endif %}"
                name="diff_name" type="text" placeholder="Diff Name" required/>
            </div>
            <div class="nice-form-group">
                <label>Rule ID</label>
                <input value="{% if known_diff_form.rule_id.value %}{{known_diff_form.rule_id.value}}{% endif %}"
                name="rule_id" type="text" placeholder="rule id" required/>
            </div>
            <div class="nice-form-group">
                <label>Chimera url</label>
                <input value="{% if known_diff_form.diff_url.value %}{{known_diff_form.diff_url.value}}{% endif %}"
                name="diff_url" type="text" placeholder="Chimera url" required/>
            </div>
            <div class="nice-form-group">
                <label>Select the Assignee:</label>
                <select name="assigned_to" id="assigned_to">
                    <option value="">{{ known_diff_form.assigned_to.empty_label }}</option>
                    {% for user in known_diff_form.fields.assigned_to.queryset %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- <div class="nice-form-group">
                <label>Assigned To</label>
                <input value="{% if known_diff_form.assigned_to.value %}{{known_diff_form.assigned_to}}{% endif %}"
                name="assigned_to" type="text" placeholder="Assigned To" required/>
            </div> -->
            
            


            <!-- <div class="nice-form-group">
                <label>Preparation Time(in hrs)</label>
                <input style="width: 100%;" value="{% if known_diff_form.prep_time.value %}{{known_diff_form.prep_time.value}}{% endif %}"
                name="prep_time" type="number" placeholder="Preparation Time(in hrs)" required/>
            </div>

            <div class="nice-form-group">
                <label>Description</label>
                <input style="width: 100%;" value="{% if known_diff_form.description.value %}{{known_diff_form.description.value}}{% endif %}"
                name="description" type="number" placeholder="Description" required/>
            </div>
            
            <div class="nice-form-group">
                <label>Meal Type</label>
                <select id="dropdown" name="meal_type">
                    <option value="vegetarian">Vegetarian</option>
                    <option value="non_vegetarian">Non-Vegetarian</option>
                </select>
            </div> -->
            <details>
              <summary>
                    <button style="border: 1px solid black;" class="toggle-code" type="submit">Create Recipe</button>
                    <button style="border: 1px solid black; margin-left: 10px; background-color: whitesmoke; width: 90px;" class="toggle-code">
                        <a style="text-decoration: none; color: black;" href="{% url 'list_known_diff' %}">Cancel</a></button>
              </summary>
            </details>
        </form>
    </section>
        </main>
      </div>
</body>
</html>
